[
{gsvr, [ 
    {token, "gsvr_token"},
    {port, 8090}
    ]},

{erlcron, [
    {crontab, [
        {{daily, {0, 0, 6}}, {gsvr, save_data, []}}
    ]}
]},

{lager, [
    {handlers, [
        {lager_console_backend, debug},
        {lager_file_backend, [
            {file, "logs/error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 10}]}
        ]},
    {crash_log, "logs/crash.log"},
    {colored, true}
    ]}
].
